<!doctype html>
<html>
<head>
  <title>Start Page</title>
  <link rel="stylesheet" type="text/css" href="static/css/site.css">
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
</head>
<body>
  <nav>{{range .NavLinks}}
    <a href="{{.URL}}">
      <span class="fa {{.Class}}"></span>
      <span>{{.Label}}</span>
    </a>
  {{end}}</nav>
  <div class="page">{{if .XKCD}}
    <div class="xkcd">
      <h2>{{.XKCD.safe_title}}</h2>
      <img src="{{.XKCD.img}}" alt="{{.XKCD.alt}}" title="{{.XKCD.alt}}">
    </div>
    {{end}}{{if .Weather }}
    <div class="forecasts">{{range $weather := .Weather}}
      <div class="forecast">
        <h2>{{$weather.Location}}</h2>
        <div class="quick-info">
          <table>
            <tr><th>Now:</th><td>{{$weather.CurrentConditions.Status}}</td></tr>
            <tr><th>Temp:</th><td>{{$weather.CurrentConditions.TemperatureCelcius}}&#176;C</td></tr>
            <tr><th>Today:</th><td>{{ $weather.Forecast.Summary }}</td></tr>
          </table>
        </div>
      </div> <!-- /forecast -->{{end}}
    </div> <!-- /forecasts -->{{end}}
  </div> <!-- /page -->
</body>
</html>
