<!DOCTYPE html>
<html>
<head>
  <title>Start Page</title>
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <link rel="stylesheet" type="text/css" href="/packages/meteocons/stylesheet.css">
</head>
<body>
  <div class="greeting">
    <h1 data-bind="text: greeting()"></h1>
    <iframe src="https://duckduckgo.com/search.html?kae=d&prefill=Search DuckDuckGo&bgcolor=333&focus=yes" style="overflow:hidden;margin:0;padding:0;" frameborder="0"></iframe>  </div>
  </div> <!-- /greeting -->
  <div class="xkcd">
    <h2 data-bind="text: xkcd().friendlyTitle"></h2>
    <img data-bind="attr: { src: xkcd().img, alt: xkcd().alt, title: xkcd().alt }" />
  </div> <!-- /xkcd -->
  <div class="forecasts" data-bind="foreach: forecasts()">
    <div class="forecast">
      <h2 data-bind="text: name"></h2>
      <div class="summary">
        <p data-bind="text: daily.summary"></p>
      </div>
      <div class="weatherdata">
        <div class="icon">
          <a class="weather-link" data-bind="attr: {href: 'https://darksky.net/forecast/' + latitude + '/' + longitude }">
            <i data-bind="attr: { class: 'weather weather-' + daily.icon }"></i>
          </a>
        </div> <!-- /icon -->
        <div class="current">
          <p>Feels like: <span data-bind="temperature: currently.apparentTemperature"></span></p>
          <p class="nexthour">Next Hour: <span data-bind="text: hourly.summary"></span></p>
        </div> <!-- /current -->
      </div> <!-- /weatherdata -->
      <div class="lowhigh">
        <span class="low">Low: <span data-bind="temperature: daily.data[0].apparentTemperatureMin"></span></span>
        <span class="high">High: <span data-bind="temperature: daily.data[0].apparentTemperatureMax"></span></span>
      </div> <!-- /lowhigh -->
    </div> <!-- /forecast -->
  </div> <!-- /forecasts -->

  <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/knockout/3.4.1/knockout.js" integrity="sha256-PX9zWVaICUCeklczWaS9DLBb9uGN7pCkCT0Kyz1elRo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/momentjs/2.17.1/moment.min.js" integrity="sha256-Gn7MUQono8LUxTfRA0WZzJgTua52Udm1Ifrk5421zkA=" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/js/site.js"></script>
</body>
</html>
