/*@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Quicksand|Abel');*/



@font-face {
  font-family: "Archivo Narrow";
  src: url('/fonts/Archivo_Narrow/ArchivoNarrow-Regular.ttf');
}

@font-face {
  font-family: "Quicksand";
  src: url('/fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
  font-family: "Abel";
  src: url('/fonts/Abel/Abel-Regular.ttf');
}

body {
  background-color: #333;
  background-image: url('/images/bg.png');
  color: #fff;
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  margin: 0;
  padding: 0;
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  height: 65px;
  width: 100vw;
  background: #222;
  box-shadow: #222 0 2px 5px 0px;
  z-index: 1;
}

nav a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 15pt;
  vertical-align: middle;
  padding: 20px;
  margin: 0;
  transition: background-color 0.5s ease;
}
nav a:hover {
  background: #666;
}

h1,
.xkcd h2 {
  font-family: "Abel", sans-serif;
}

.xkcd h2 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: "Archivo Narrow", sans-serif;
}

.nextSection {
  color: #fff;
  font-size: 45px;
}

.nextSection:hover {
  text-shadow: 0 0 5px #fff;
}

.greeting,
.extras > div {
  width: 66%;
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  display: none;
}

.extras {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc( 100vh - 65px );
  width: 100vw;
}

.greeting,
.xkcd {
  text-align: center;
}

.xkcd img {
  max-height: 50vh;
}

.greeting > iframe {
  width: 100%;
   height: 60px; 
}

.cryptos {
  font-family: "Quicksand", sans-serif;
}

.cryptos h2 {
  text-align: center;
}

.forecasts,
.cryptos {
  display: flex;
  justify-content: space-around;
}

.forecast,
.crypto {
  padding: 0 15px;
  max-width: 400px;
}

.forecast h2,
.crypto h2 {
  margin-bottom: 0;
}

.crypto table {
  text-align: right;
}

.weatherdata {
  display: flex;
}

.weatherdata .icon {
  margin-right: 15px;
}

.summary p {
  padding: 0;
  margin: 0;
}

.current p {
  margin-bottom: 0;
}

.nexthour {
  font-size: 10pt;
  padding: 0;
  margin: 0;
}

.lowhigh {
  display: flex;
  justify-content: space-between;
}

.weather-link {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 100px;
}