/*@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Quicksand|Abel');*/
@font-face {
  font-family: "Archivo Narrow";
  src: url('/static/fonts/Archivo_Narrow/ArchivoNarrow-Regular.ttf');
}

@font-face {
  font-family: "Quicksand";
  src: url('/static/fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
  font-family: "Abel";
  src: url('/static/fonts/Abel/Abel-Regular.ttf');
}

body {
  background-color: #333;
  background-image: url('/static/img/bg.png');
  color: #fff;
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  margin: 0;
  padding: 0;
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  height: 65px;
  width: 100vw;
  background: #222;
  box-shadow: #222 0 2px 5px 0px;
  z-index: 1;
}

nav a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 15pt;
  vertical-align: middle;
  padding: 20px;
  margin: 0;
  transition: background-color 0.5s ease;
}
nav a:hover {
  background: #666;
}

h2 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abel", sans-serif;
}

.page > div {
  width: 66%;
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc( 100vh - 65px );
  width: 100vw;
}

.xkcd {
  text-align: center;
}

.xkcd img {
  max-height: 50vh;
}

div.forecasts {
  display: flex;
	margin-top:25px;
  justify-content: space-around;
}

.forecast {
  padding: 0 15px;
  max-width: 400px;
	text-align: center;
}

.forecast h2 {
  margin-bottom: 0;
}

.forecast .alert a {
	color: #fff;
	font-size:14pt;
}

.forecast .icon img {
	width:275px;
	margin: -25px 0;
}

.forecast .quick-info {
  margin: 0;
	text-align: left;
}

.forecast .quick-info table th{
	text-align: left;
	padding-right: 10px;
}

.forecast .daily {
  font-size: 10pt;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.forecast .icon a {
  color: #fff;
  text-decoration: none;
  display: block;
}
